body {
    font-family: sans-serif;

}


body, a, a:visited {
    color: grey;
}

a:hover {
    color: darkgrey;
    text-decoration: underline;
}

/*Überschriften*/

h2{
color: grey;
font-size: 13pt;

}

h3 {
    font-size: 28pt;
    color: darkgrey;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;

}


h4{
color:grey;
font-size: 15pt;
font-weight: lighter;

}
#carousel {

  margin-left: 1em;
  border: 1px solid darkgrey;
  overflow: hidden;
}

/*Team Vorstellung*/

  section.team {

      margin-top: 1em;
      padding-top: 1em;

      border: 0px solid grey;
      border-top-width: 1px;
      border-bottom-width: 1px;

      font-size: 12pt;
      margin-left: 1em;

  }


  section.team h3{
    color: darkgrey;
    font-weight: bold;
  }

  section.team img{
  margin-right: 1em;
  margin-bottom: 1em;
  }

/*Sidebar*/

.sidebar {
  background-color: hsla(120, 60%, 70%, 0.1);
  border-radius: 10px;
}

.jobtext{
font-size: 12pt;
border: 0px solid grey;
border-top-width: 1px;
}


.spendentext{
font-style: oblique;
font-size: 28pt;
font-family: 'Amatic SC', cursive;

}

#paypal {
    margin-left: 1.5em;
    border-radius: 10px;
    width: 4em;
}

#paypal:hover {
width: 4.5em;
}

.fb-text{
  font-size: 10pt;
}

#facebook{
  margin-left: 3em;
  border-radius: 10px;
  width: 2em;

}

#facebook:hover{
width: 2.5em
}

/*Einzelvorstellung*/

* {
    box-sizing: border-box;
}


.row {
    margin: 8px -16px;
}


.row,
.row > .column {
    padding: 8px;
}


.column {
    float: left;
    width: 30%;
    display: none;
    border: 0.5px solid grey;
    border-radius: 10px;
    margin:0.5em;


}
#Einzelvorstellung {  /*Text*/

  font-size: 28pt;
  color: darkgrey;
  font-weight: bold;
  margin-left: 1em;
  font-family: 'Amatic SC', cursive;
}


.content {
    background-color: white;
    padding: 3px;
}

.content h4{
font-weight: bold;
}

.show {
    display: block;
}

.btn:active{

  background-color: grey;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  margin-left: 2em;
  font-family: 'Amatic SC', cursive;
  font-size: 20pt;
  border: 1px solid grey;
  width: 4.5em;
}


.btn:hover{
  background-color: lightgrey;
}

.Menschen{
margin-left: 1em;
height: 70%;
}
.Menschen img{
margin-left: 4em;
border-radius: 10px;

}
.Menschen h4{
text-align: center;

}

/*Media Query für die Einzelvorstellung*/
@media only screen and (max-width: 600px){
  * {
      box-sizing: border-box;
  }

  .row {
      margin: 5px -10px;
  }


  .row,
  .row > .column {
      padding: 8px;
  }

  .column {
      float: left;
      width: 30%;
      display: none;
      border: 0.2px solid grey;
      border-radius: 10px;
      margin:0.2em;


  }
  #Einzelvorstellung {  /*Text*/

    font-size: 28pt;
    color: darkgrey;
    font-weight: bold;
    margin-left: 1em;
    font-family: 'Amatic SC', cursive;
  }


  .content {
      background-color: white;
      padding: 10px;

  }
  .content img{
    margin-left: 1.5em;

  }

  .content h4{
  font-weight: bold;
  }

  .show {
      display: block;
  }

  .btn {
    border: none;
    outline: none;
    padding: 10px 2px;
    background-color: white;
    cursor: pointer;
    margin: 0.9em;
    font-family: 'Amatic SC', cursive;
    font-size: 13pt;
    border: 1px solid grey;
    width: 3.5em;
  }


  .btn:active{
    background-color: lightgrey;
  }


  .Menschen{
  margin-left: 1em;
  }

  .Menschen h4{
  text-align: center;
  font-size: 12pt;

  }

.Menschen p{
font-size: 10pt;

}

}/*Media Query Einzelvorstellung Ende*/


/*Text Karussel*/

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}
