
body, a, a:visited {
    color: grey;
}

a:hover {
    color: darkgrey;
    text-decoration: underline;
}




/*Navbar*/
#navbar {
    background: grey;
    font-size: 110%;
    margin-bottom: 1em;
    font-style: normal;
}

#navbar,
#navbar a,
#navbar a:visited,
#navbar button {
    color: grey;
}


#navbar .active {
    font-weight: bold;
}

.btn-navbar{
  border-style:none;
  border-radius: 10px;
}
.btn-navbar:hover, .btn-navbar:active, .btn-navbar.active, .btn-navbar.disabled, .btn-navbar[disabled] {
    background-color:hsla(120, 60%, 70%, 0.3);

}


#logo {
    width: 5em;
}


/*Bilder Karussel*/
footer {
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 1em;
}

footer .bold {
    font-weight: bold;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .col{

  font-size: small;
}
#donate{
    margin-top: 0.5em;
    width: auto;

    background-color: #147704;
    color: white;
    font-weight: bold;

    transition: background-color 0.2s;
}

#donate:hover{
    background-color: #289716;
}

/*Button um wieder an den Seitenanfang zu gelangen */
#toTop
{
    position: fixed;
    background-color: #42B32F;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    display: none;
}
