
.galerieTitel
{
    font-size: 36px;
    color: white;
    font-weight: 500;
    margin-bottom: 30px;
    padding: 20px;
    background-color: green;
}

.filter-button
{
    font-size: 18px;
    color: white;
    background-color: darkgrey;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 5px;
}


.ButtonBlock > .btn
{
    margin-left: 15px;
    padding: 10px;
    border-radius: 0;

}


.textBlock
{
    margin-bottom: 20px;
    color: black;

}

.platzhalter
{

}

.btn
{
padding: 0;

}

#toTop{
	position: fixed;
    background-color: #42B32F;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
    margin: 5px;
    padding: 5px;
	display: none;
}

d
{
    font-family: 'Indie Flower', cursive;
    font-size: 24pt;
    font-weight: bold;
}


.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    color: #ffffff;
    background-color: #42B32F;

}

.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

/*
.filter-button:focus
{
    background-color: green;
}
*/

.filter-button-active{
    background-color: green;
}


.galerieFeld
{
    margin-bottom: 15px;
}
