
.galerieTitel
{
    font-size: 36px;
    color: white;
    font-weight: 500;
    margin-bottom: 70px;
    padding: 20px;
    background-color: green;
}

.filter-button
{
    font-size: 18px;
    color: #42B32F;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 5px;
}


.ButtonBlock
{
    margin-left: 15px;

}


.platzhalter
{}

.btn
{
padding: 0;
}

.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}



.galerieFeld
{
    margin-bottom: 15px;
}
